{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}Produits {{ brand.name }}{% endblock %}

{% block content %}

<h1>Liste des produits pour la marque {{ brand.name }}</h1>

    {% for product in brand.products %}

    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <hr>

    {% endfor %}
    
{% endblock %}
